body {
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
}

.main-container {
    padding-bottom: 30px;
}

.main-header {
    position: fixed;
    top: 0;
    padding: 56px 27px 56px 80px;
    height: 32px;
    clear: both;
    width: 100%;
    z-index: 99;
}

.logo-container {
    float: left;
    display: inline-block;
}

.top-nav {
    float: right;
}

.nav-item-container {
    font-size: 15px;
    letter-spacing: 0.2px;
    position: relative;
    list-style: none;
}

.nav-item-container li {
    display: inline;
    margin-right: 10px;
}

.nav-item a:hover {
    text-decoration: none;
}

.content {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.left-menu-container {
    z-index: 99;
    top: 165px;
    position: fixed;
    padding-left: 40px;
}

.left-menu-container ul {
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.left-menu-container ul li {
    margin-bottom: 10px;
}

.left-menu-container ul li a {
    color: white;
}

.left-menu-container ul li a:hover {
    text-decoration: none;
}

.newsletter-container {
    padding-top: 50px;
    width: 100%;
    display: block;
    align-content: center;
    text-align: center;
}